<main role="main" class="inner cover">

<h1 class="cover-heading">Venčanice Snežana</h1>
<p class="lead">Salon venčanica Snežana ima dugu tradiciju proizvodnje i prodaje venčanica.</p>
<p class="lead">
  <%= link_to "Pogledajte naše haljine", dresses_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Zakažite termin", new_appointment_path, class: "btn btn-lg btn-secondary" %>
</p>

</main>